{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: mta
 * Generated on: Tue, 04 Apr 17 15:18:58 +0530
 */
#}
{{ attach_library('mta/mta.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
