{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: mta
 * Generated on: Fri, 07 Apr 17 16:09:19 +0530
 */
#}
{{ attach_library('mta/mta.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
