{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: mta
 * Generated on: Mon, 10 Apr 17 11:41:35 +0530
 */
#}
{{ attach_library('mta/mta.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
