{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: mta_new
 * Generated on: Wed, 26 Apr 17 11:53:36 +0530
 */
#}
{{ attach_library('mta_new/mta_new.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
