/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
 body, .page {
	background-image: url(images/grey_bg.jpg);
    background-repeat: repeat-x;
    padding: 0;
    margin: 0px;
}

.bp--at-core-simple-mobile .pr-navbar .regions {
    background: #f7f7f7;

  }
.pr-header{
	background-color: #fff;
	
}
a#superfish-main-toggle{
	line-height: 0;
    font-size: 0;
    color: transparent;
    background: #fff url(images/hamburger.svg);
    height: 16px;
    width: 35px;
}
.accordion-block-content {
	height: auto !important;
}

.views-field-counter {
    float: left;
    margin-left: 5px;
}

.views-content-counter {
    text-align: center;
    width: 29px;
    background: url(images/bullets.png) no-repeat scroll center center transparent;
    cursor: pointer;
}
.block-region-col-2 .block h2 {
    display: block;
    color: #3A3A3B;
    font-size: 14px;
    font-weight: bold;
    background: #C6C8C9;
    padding: 3px 0 3px 10px;
    line-height: 19px;
    margin-bottom: 0;

}
.accordion-block-content h2.block__title {
	display:none;
}
#panels-ipe-content .block-region-col-1 .block__inner,
 #panels-ipe-content .block-region-col-2 .block__inner, 
#panels-ipe-content .block-region-col-3 .block__inner {
    border: 9px solid #EDEDED;
    margin-bottom: 20px;
    clear: both;
}
#panels-ipe-content .block-region-col-2 .accordion-block-content .block__inner {
	border:none;
    margin-bottom: 20px;
    clear: none;
}
.accordion-block-content h2.block__title {
	display:none;
}
h2.accordion-title{
	color: #f1f1f1;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: arial;
}
h2.accordion-title a{
	color: #f1f1f1 !important;
}
h2.accordion-title img{
  float: right;
  margin-top: 3px;
  margin-right: 10px;
}

h2#ui-id-1{
background: #009300;
color: #f1f1f1;
}
h2#ui-id-3{
background: #1643AB;
color: #f1f1f1;
}
h2#ui-id-5{
background: #CC3300;
color: #f1f1f1;
}
h2#ui-id-7{
background: #880000;
color: #f1f1f1;
}
h2#ui-id-9{
background: #7F369A;
color: #f1f1f1;
}
h2#ui-id-11{
background: #006060;
color: #f1f1f1;
}
h2#ui-id-13{
    background: #339966;
    color: #f1f1f1;
}
h2#ui-id-13{
background: #1643AB;
color: #f1f1f1;
}


.l-header #block-searchform form{
	float: right;
}

.l-header #block-searchform form input.form-search{
	width:  87%;
}
.l-header .submit-is-visible .search-block-form__form .form-search {
	  padding-right: 0; 
}
.block__content h2{
	display: block;
    color: #3A3A3B;
    font-size: 14px;
    background: #C6C8C9;
    padding: 3px 0 3px 10px;
    line-height: 19px;
}

.site-branding__name {display: none;}
#block-mainnavigation #superfish-main li.sf-depth-1 a, #block-mainnavigation #superfish-main li a:visited {
	 padding: 10px 10.4px 4px;
	 background: #fff url('images/nav_bg.jpg') top left repeat-x;
	 text-decoration: none;
	 color: #fff; 
	 font-weight:bold;
	 text-align:center;
}
#block-mainnavigation #superfish-main li a:hover {
	color: #fff; 
	background: #fff url('images/nav_bg_on.jpg') top left repeat-x;
}
#block-mainnavigation #superfish-main li {
	    border-left: 1px #aeaeb0 solid;
}

/*Sub level menu*/
.sf-menu.sf-style-default li ul{  
   margin-top: -2px; width: 160px; display: block;background-color: #ddd;}

/*Sub level menu list items*/
.sf-menu.sf-style-default li ul li{display: inline;float: none;border-left: none;}

/* Sub level menu links style */
#block-mainnavigation #superfish-main li.sf-depth-1 ul li a, #block-mainnavigation #superfish-main li.sf-depth-1 ul li a:visited{
   padding: 10px 3px 5px 8px;
	width: 160px; /*width of sub menu levels*/
	font-size:88%;
	color:#000;
	background:none;
	background-image: none;	
	background-color: #ddd;
	border-width: 0 1px 1px 1px;
	text-align:left;
	}
#block-mainnavigation #superfish-main li.sf-depth-1 ul li.last a, #block-mainnavigation #superfish-main li.sf-depth-1 ul li.last a:visited{
   padding: 10px 3px 15px 8px;
	width: 160px; /*width of sub menu levels*/
	font-size:88%;
	color:#000;
	background-image: none;	
	background-color: #ddd;
	border-width: 0 1px 1px 1px;
	text-align:left;
	}
#block-mainnavigation #superfish-main li.sf-depth-1 ul li a:hover{
	background-image: none;	
	background-color: #ddd;
	color:#0071C1;
	}
	
#block-mainnavigation #superfish-main li.sf-depth-1 ul li.last a:hover{
	padding: 10px 3px 15px 8px;
	background-image: none;	
	background-color: #ddd;
	color:#0071C1;
	}

.l-content-suffix #block-footerblock {
	width: 100%;
    border-top-color: rgb(180, 180, 180);
    border-bottom-color: rgb(180, 180, 180);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;	
}
.l-content-suffix #block-footerblock .block__content ul {
	position: relative;
    margin: 10px auto;
    float: left;
    width: 100%;
}
.l-content-suffix #block-footerblock .block__content ul li {
	background-color :transparent;
	display: block;
	margin: 0;
    padding: 0 25px 0 0;
    list-style: none;
    float: left;
    margin-right: 3%;
}	

.l-content-suffix #block-footerblock .block__content ul li a {
	text-decoration: none;
    color: #0055aa;
    display: block;
    font-weight: bold;
    background-color: #fff;
}

.l-content-suffix #block-footerblock .block__content ul li.employment {
    left: 0px;
    background: url(images/footer_sprite_new.png) no-repeat 97px 0;
 }

 .l-content-suffix #block-footerblock .block__content ul li.shop {
    left: 0px;
    background: url(images/footer_sprite_new.png) no-repeat 75px 0;
 }

 .l-content-suffix #block-footerblock .block__content ul li.museum {
    left: 0px;
    background: url(images/footer_sprite_new.png) no-repeat 74px 0;
 }

 .l-content-suffix #block-footerblock .block__content ul li.pim {
    left: 0px;
    background: url(images/footer_sprite_new.png) no-repeat 54px 0;
 }

 .l-content-suffix #block-footerblock .block__content ul li.aft {
    left: 0px;
    background: url(images/footer_sprite_new.png) no-repeat 10px 0;
 }

 .l-content-suffix #block-footerblock .block__content ul li.social {
    left: 0px;
    background: url(images/footer_sprite_new.png) no-repeat -21px 0;
 }

 .pr-footer {
     color: #0055aa; 
     background-color: transparent; 
}